---
layout: base
title: "Contact"
---

<div class="container-fluid body-constraint--small">
  <h1 class="font-title--tertiary spacer--large text-constraint--small">Want to get in touch with me? Here are all the channels where I am available</h1>
  <div class="row">
    <div class="col-sm-12 col-md-12 spacer--medium">
      <a class="contact-button" href="https://www.linkedin.com/in/tmkapoor/" target="_blank">
        {% include linkedin-logo.html %}
        <span class="text">LinkedIn</span>
      </a>
    </div>
    <div class="col-sm-12 col-md-12 spacer--medium">
      <a class="contact-button" href="mailto:tmkapoor@gmail.com" target="_blank">
        {% include email-logo.html %}
        <span class="text">Email</span>
      </a>
    </div>
    <div class="col-sm-12 col-md-12 spacer--medium">
      <a class="contact-button" href="https://t.me/tee_em_kay_36" target="_blank">
        {% include telegram-logo.html %}
        <span class="text">Telegram</span>
      </a>
    </div>
    <div class="col-sm-12 col-md-12 spacer--medium">
      <a class="contact-button" href="https://www.instagram.com/tee.em.kay.36/" target="_blank">
        {% include instagram-logo.html %}
        <span class="text">Instagram</span>
      </a>
    </div>
  </div>
</div>
