/* Basic styling */
body{
    font-family: 'DM Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    color: rgb(68,68,68);
}

/* Navbar styling */
nav.navabr > div.container-fluid{
    max-width: 1200;
}


/* Body constraints */
.body-constraint--medium{
    margin: auto;
    width: 96%;
    max-width: 1200px;
}

.body-constraint--small{
    margin: auto;
    width: 96%;
    max-width: 960px;
}

.text-constraint--medium{
    max-width: 800px;
}

.text-constraint--small{
    max-width: 640px;
}


/* Spacing utilities */
.spacer--largest{
    display: block;
    margin-bottom: 64px;
}

.spacer--larger{
    display: block;
    margin-bottom: 48px;
}

.spacer--large{
    display: block;
    margin-bottom: 32px;
}

.spacer--medium{
    display: block;
    margin-bottom: 24px;
}

.spacer--small{
    display: block;
    margin-bottom: 16px;
}

.spacer--smaller{
    display: block;
    margin-bottom: 8px;
}

.spacer--smallest{
    display: block;
    margin-bottom: 4px;

}

/* Indentations */

.indent--default{
    display: block;
    margin-left: 24px;
}


/* Text utilities */

.font-title--primary{
    font-size: 48px;
    font-weight: 600;
    line-height: 56px;
}

.font-title--secondary{
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
}

.font-title--tertiary{
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}

.font-body--hero{
    font-size: 21px;
    font-weight: 400;
    line-height: 32px;
}

.font-body--strong{
    font-size: 14px;
    font-weight: 600;
    line-height: 22px;
}

.font-body--emphasized{
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
}

.font-body--large{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.font-body--default{
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.font-body--footnote{
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
}

.font-color--gray{
    color: rgb(145,145,145);
}

strong{
    font-weight: 500;
    background-color: #DEF2F1;
}

.cta--large{
    display: inline-block;
    color: rgb(68,68,68);
    font-size: 21px;
    line-height: 30px;
    font-weight: 500 !important;
    text-decoration: none !important;
    border-bottom: solid 2px white;
    padding: 8px 24px 8px 0px;
}

/* Navbar overrides */
nav.navbar{
    background-color: white;
    border-top: solid 8px #DEF2F1;
}

nav.navbar > div{
    padding-bottom: 8px; 
    border-bottom: solid 1px #EDEDED;
}

.cta--large:hover,
.cta--large:focus{
    border-bottom: solid 2px #3AAFA9;
}

.cta--large::before{
    content: ">";
    font-size: 18px;
    line-height: 24px;
    color: #3AAFA9;
    margin-right: 8px;
    text-decoration: none !important;
}

a.cta--large:hover,
a.cta--large:focus {
  box-shadow: inset 6.5em 0 0 0 var(--hover);
}

a.cta-button{
    display: inline-block;
    padding: 12px 24px;
    color: rgb(68,68,68);
    border: solid 2px #3AAFA9;
    border-radius: 32px;
    text-decoration: none;
    
    animation: background-color  0.5s linear;
}

a.cta-button > .text{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

a.cta-button > .logo,
a.cta-button > svg{
    width: 24px;
    margin: auto;
    padding: 0px 4px 4px 4px;
}

a.cta-button:hover{
    background-color: #3AAFA9;
}

.cta-button.contact-button{
    width: 164px;
}

.accent-bg-fill{
    background-color: #DEF2F1;
}


.player-holder{
    height:240px;
    max-width:240px;
    text-align: center;
    vertical-align: bottom;
 }

 .player-thumb{
    width: 240px;
    height: 240px;
    display: inline-block;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
 }